<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MupenUtilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MupenUtils.MupenUtilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MupenUtilities.Properties.Settings>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPathReplaceSrc" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPathReplaceTrg" serializeAs="String">
                <value />
            </setting>
            <setting name="UITheme" serializeAs="String">
                <value>0</value>
            </setting>
        </MupenUtilities.Properties.Settings>
        <MupenUtils.MupenUtilities.Properties.Settings>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPathReplaceSrc" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPathReplaceTrg" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </MupenUtils.MupenUtilities.Properties.Settings>
    </userSettings>
</configuration>